<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
  <title>WordTree</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container col-md-8">
<div class="left">
<h4>Enter a search term and location to see google's autocomplete suggestions (ex: why are computer scientists) </h4>
<div style="position: absolute; left: 1000px; top: 50px;">
  <a href="/random" class="btn btn-info">Random</a>
</div>
<form action="/trees" method="post">
<input name="query" class="search">
<select name="location1" class="btn btn-warning" style="background-color: orange" id="country1">
<option value="us, United States">United States</option>
<option value="au, Australia">Australia</option>
<option value="cn, China">China</option>
<option value="eg, Egypt">Egypt</option>
<option value="fr, France">France</option>
<option value="hk, Hong-Kong">Hong Kong</option>
<option value="in, India">India</option>
<option value="ir, Iran">Iran</option>
<option value="iq, Iraq">Iraq</option>
<option value="jp, Japan">Japan</option>
<option value="kr, South-Korea">South Korea</option>
<option value="lb, Lebanon">Lebanon</option>
<option value="pk, Pakistan">Pakistan</option>
<option value="ru, Russia">Russia</option>
<option value="sa, Saudi-Arabia">Saudi Arabia</option>
<option value="sg, Singapore">Singapore</option>
<option value="za, South-Africa">South Africa</option>
<option value="uk, UK">United Kingdom</option>
</select>
<select name="location2" class="btn btn-primary" id="country2">
<option value="none">None</option>
<option value="us, United States">United States</option>
<option value="au, Australia">Australia</option>
<option value="cn, China">China</option>
<option value="eg, Egypt">Egypt</option>
<option value="fr, France">France</option>
<option value="hk, Hong-Kong">Hong Kong</option>
<option value="in, India">India</option>
<option value="ir, Iran">Iran</option>
<option value="iq, Iraq">Iraq</option>
<option value="jp, Japan">Japan</option>
<option value="kr, South-Korea">South Korea</option>
<option value="lb, Lebanon">Lebanon</option>
<option value="pk, Pakistan">Pakistan</option>
<option value="ru, Russia">Russia</option>
<option value="sa, Saudi-Arabia">Saudi Arabia</option>
<option value="sg, Singapore">Singapore</option>
<option value="za, South-Africa">South Africa</option>
<option value="uk, UK">United Kingdom</option>
</select>
  <input type="submit" class="submit">
</form>
</div>
<%= yield %>
<script>
  $('.submit').click(function(e){
  var search = $(".search").val();
  if (search == ""){
  e.preventDefault();
  alert("Please enter a search term");
    };
  })

</script>

<div id="footer">
        Read more about word trees <a href="https://developers.google.com/chart/interactive/docs/gallery/wordtree">here</a> and <a href="https://www.jasondavies.com/wordtree/">here</a> 
      and check out autocomplete poetry <a href="http://www.googlepoetics.com/">here</a>.
    </div>
  </div>
</div>

</body>
</html>
