<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
  <title>WordTree</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="left">
<h4>Enter a search term and location to see google's autocomplete suggestions (ex: why are computer scientists) </h4>
<p>

</p>
<form action="/trees" method="post">
<input name="query" class="search"/>
<select name="Location">
<option value="us, United States">United States</option>
<option value="af, Afghanistan">Afghanistan</option>
<option value="au, Australia">Australia</option>
<option value="bm, Bermuda">Bermuda</option>
<option value="bt, Bhutan">Bhutan</option>
<option value="br, Brazil">Brazil</option>
<option value="cn, China">China</option>
<option value="cu, Cuba">Cuba</option>
<option value="eg, Egypt">Egypt</option>
<option value="fi, Finland">Finland</option>
<option value="fr, France">France</option>
<option value="ge, Georgia">Georgia</option>
<option value="de, Germany">Germany</option>
<option value="gh, Ghana">Ghana</option>
<option value="gr, Greece">Greece</option>
<option value="va, The-Vatican">The Vatican</option>
<option value="hk, Hong-Kong">Hong Kong</option>
<option value="in, India">India</option>
<option value="ir, Iran">Iran</option>
<option value="iq, Iraq">Iraq</option>
<option value="il, Israel">Israel</option>
<option value="jp, Japan">Japan</option>
<option value="kp, North-Korea">North Korea</option>
<option value="kr, South-Korea">South Korea</option>
<option value="lb, Lebanon">Lebanon</option>
<option value="np, Nepal">Nepal</option>
<option value="nl, Netherlands">Netherlands</option>
<option value="pk, Pakistan">Pakistan</option>
<option value="ps, Palestine">Palestine</option>
<option value="ru, Russia">Russia</option>
<option value="sa, Saudi-Arabia">Saudi Arabia</option>
<option value="sg, Singapore">Singapore</option>
<option value="sk, Slovakia">Slovakia</option>
<option value="za, South-Africa">South Africa</option>
<option value="ss, South-Sudan">South Sudan</option>
<option value="lk, Sri-Lanka">Sri Lanka</option>
<option value="se, Sweden">Sweden</option>
<option value="sy, Syria">Syria</option>
<option value="ae, UAE">United Arab Emirates</option>
<option value="uk, UK">United Kingdom</option>
</select>
  <input type="submit" class="submit">
</form>
</div>
<%= yield %>

</body>
</html>
