<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
  <title>WordTree</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3>Enter a search term and the tree will populate with google autocomplete suggestions. </h3>
<p>
ex: why are computer scientists
</p>
<form action="/trees" method="post">
  <input name="query" />
  <input name="iso_code" />
  <input type="submit">
</form>
<%= yield %>

</body>
</html>
